<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunger Pang - Search Results</title>
    <meta name="Group 15" content="Hunger Pang" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/stylesheets/styles.css"
    />
  </head>
  <body>
    <!-- render the header from a shared view file -->
    <%- include('partials/header.ejs'); %>
    <main>
      <h2><p>Results Page</p></h2>
      <!-- re-render the search bars on the results page -->
      <div class="searchResults">
        <form action="/results">
          <label for="zipCode">Zip Code:</label>
          <input type="text" id="zipCode" name="zipCode" /> <br />
          <br />
          <label for="searchTag">Food:</label>
          <input type="text" id="searchTag" name="searchTag" /><br /><br />
          <div class="dabutton">
            <input type="submit" value="Food Search" />
          </div>
        </form>
      </div>
      <!-- create a table with the results from results.js -->
      <table style="width: 100%">
        <tr>
          <th>Restaurant</th>
          <th>Price</th>
          <th>Phone Number</th>
          <th>Website</th>
          <th>Navigation</th>
        </tr>
        <!-- results.js will pass in data here -->
        <% for(var x=0; x< len; x++){ %>
        <tr>
          <td><%= allRestaurants[x].restaurant_name %></td>
          <td><%= allRestaurants[x].price_range %></td>
          <td><%= allRestaurants[x].restaurant_phone %></td>
          <td><%= allRestaurants[x].restaurant_website %></td>
          <td></td>
        </tr>
        <% } %>
      </table>
      <p id="results"></p>
    </main>
    <!-- render the footer from a shared view file -->
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
